# Normalizar saltos de línea
* text=auto

# Forzar detección de C#
*.cs linguist-detectable=true
*.cs linguist-language=C#

# Incluir archivos generados (por defecto se ignoran)
*.Designer.cs linguist-generated=false
*.designer.cs linguist-generated=false
*.g.cs linguist-generated=false
*.g.i.cs linguist-generated=false
